@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #a1b5b9;
}
.card {
	position: relative;
	width: 400px;
	height: 420px;
	font-weight: 500;
}
.card .card-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	backdrop-filter: blur(12px);
}
.card .circle {
	position: absolute;
	pointer-events: none;
	border-radius: 50%;
	animation: 2s ease-in infinite alternate;
}
.card .circle:nth-child(1) {
	width: 120px;
	height: 120px;
	top: -50px;
	left: -50px;
	background: linear-gradient(#e524c3, #8626b2);
	animation-name: move-up;
}


.card .circle:nth-child(2) {
	width: 180px;
	height: 180px;
	bottom: -80px;
	right: -86px;
	background: linear-gradient(#d64612, #e48307);
	animation-name: move-down;
}
@keyframes move-up {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateX(10px);
	}
}
@keyframes move-down {
	0% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}
.card .profile img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 12px solid rgba(255,255,255,.05);
}
.card .profile h2 {
	color: #f9f9f9;
	font-size: 26px;
	margin-top: 8px;
}
.card .profile p {
	color: #e0e0e0;
	font-size: 18px;
}
.card .profile {
	transform: translateY(20px);
	transition: 0.4s ease-out;
}
.card:hover .profile {
	transform: translateY(0px);
}
.card .social-icons {
	margin-top: 25px;
}
.card .social-icons i {
	cursor: pointer;
	color: #ddd;
	margin: 0 8px;
	font-size: 28px;
	opacity: 0;
	transform: translateY(16px);
	transition: 0.2s;
}
.card:hover .social-icons i {
	opacity: 1;
	transform: translateY(0);
}
.card .social-icons a:nth-child(1) i:hover {
	color: #FE2C55;
}
.card .social-icons a:nth-child(2) i:hover {
	color: #00FF00;
}
.card .social-icons a:nth-child(3) i:hover {
	color: #FF0000;
}
.card .social-icons a:nth-child(4) i:hover {
	color: #435777;
}
@media all and (max-width: 768px) {
	.card .profile {
	transform: none;
	transition: none;
}
.card:hover .profile {
	transform: translateY(0px);
}
.card .social-icons {
	margin-top: 20px;
}
.card .social-icons i {
	cursor: pointer;
	color: #ddd;
	margin: 0 8px;
	font-size: 35px;
	opacity: 1;
	transform: none;
	transition: none;
}
.card .social-icons a:nth-child(1) i {
	color: #FE2C55;
}
.card .social-icons a:nth-child(2) i {
	color: #00FF00;
}
.card .social-icons a:nth-child(3) i {
	color: #FF0000;
}
.card .social-icons a:nth-child(4) i {
	color: #435777;
}
.card {
	position: relative;
	width: 300px;
	height: 400px;
	font-weight: 500;
}
.card .card-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 14px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	backdrop-filter: blur(12px);
}
.card .circle:nth-child(1) {
	width: 80px;
	height: 80px;
	top: -35px;
	left: -35px;
	background: linear-gradient(#e524c3, #8626b2);
	animation-name: move-up;
}
.card .circle:nth-child(2) {
	width: 90px;
	height: 90px;
	bottom: -40px;
	right: -46px;
	background: linear-gradient(#d64612, #e48307);
	animation-name: move-down;
}
@keyframes move-up {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateX(10px);
	}
}
@keyframes move-down {
	0% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}
